h1 {
  color:		#323ce9;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 10em;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;
  color:#05E9FF;
  text-align: center;
}

td {
  border-style: solid;
  border-color: #05E9FF;
  height: 40px;
  width: 40px;
  background:linear-gradient(to right, #0f0f0f, #494949);
  height: 50px;
  width: 50px;
}
table{
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.shot{
  background:linear-gradient(to right,#00688B, #05E9FF);
}
.hit{
  background: red;
}

h4{
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  margin-bottom: 10px;
  font-size: 2em;
  color: white;
}

h2{
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 2.5em;
}

p{
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  color: red;
}

img {
  height:400px;

}

#image {
  display: flex;
  justify-content: center;
}
header {
    /*background-image:url('https://0.s3.envato.com/files/102616384/radar.jpg');*/
    background-color: black;
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}

#text{
  background:#e3eef7;
  padding:10px;
  border-style: solid;
  height: 250px;
  width: 250px;
  background-image: url('https://thumbs.dreamstime.com/x/radar-screen-sonar-18540110.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border-color: #05E9FF;
}
.hit{
  background-color: red;
}

body {
  background-color: black;
}

footer {
  font-size: 1em;
  color: white;
  margin-top: 50px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}
